@font-face{
font-family: "Emblema One";
src:url("https://code.z01.com/font/ZoomlaXingtiJ6.woff");
}

body{
margin-left:25%;
margin-right:25%;
border:2px dotted black;
padding: 10px 10px 10px 10px;
}

h1,h2{
font-family:"Emblema One";
}

p.fontsize{
font-size:20px;
}
p.color{
color:fuchsia;
}
p.fontweight{
font-weight:bold;
}
p.fontfamily{
font-family:impact;
}
p.textdecoration{
text-decoration:line-through;
}
p.multiplefont{
font-family: Verdana, Geneva, Arial, sans-serif;
}
p.italicp{
font-style:italic;
}
p.obliquep{
font-style:oblique;
}
p.doubleline{
text-decoration:underline overline;
}

em.term{
font-family: serif;
color: blue;
}