.guarantee{
border-color: black;
border-width: 1px;
border-style: solid;
background-color: #a7cece;
padding: 25px;
margin: 30px;
line-height:1.9em;
color:#444;
background-image: url(../../../ÓÎÏ·/ºÚ»ê3/Ñó´ÐÆïÊ¿.jpg);
background-repeat: no-repeat;
background-position: top left;
}

body{
margin-left:25%;
margin-right:25%;
border: 2px dotted black;
padding: 10px 10px 10px 10px;
font-family: sans-serif;
line-height: 1.4em;
}

h1,h2,h3{
font-family:sans-serif;
color:gray;
}
h1{border-bottom: 1px solid black;
}
h2{text-decoration: underline;
}

p{
background-color:yellow;
border: 1px dotted gray;
}

code{
line-height: 1em;
color: blue;
}

em{
text-decoration: underline;
}
em.term{
font-family:serif;
color:blue;
}
strong{
color:red;
}