#picture{
float:right;
border:white dotted;
background: gray;
}

.guarantee{
border-color: black;
border-width: 1px;
border-style: solid;
background-color: #a7cece;
padding: 25px;
margin: 30px;
line-height:1.9em;
color:#444;
background-image: url(../../../ÓÎÏ·/ºÚ»ê3/Ñó´ÐÆïÊ¿.jpg);
background-repeat: no-repeat;
background-position: top left;
}
.cd{
font-style:italic;
}
.artist{
font-weight:bold;
}

body{
margin-left:25%;
margin-right:25%;
border: 2px dotted black;
padding: 10px 10px 10px 10px;
font-family: sans-serif;
line-height: 1.4em;
}

h1,h2,h3{
font-family:sans-serif;
color:gray;
}
h1{border-bottom: 1px solid black;
}
h2{text-decoration: underline;
}

p{
background-color:yellow;
border: 1px dotted gray;
}

code{
line-height: 1em;
color: blue;
}

em{
text-decoration: underline;
}
em.term{
font-family:serif;
color:blue;
}
strong{
color:red;
}

#fixedSidebar{
position:fixed;
left:0px;
top:20px;
}

a#bilibili:link{
color:green;
}
a#bilibili:visited{
color:red;
}
a#bilibili:hover{
color:yellow;
}
#testPseudoClass:last-child{
color:red;
}
p:first-child{
color:blue;
}

#chapter9{
border-color:black;
border-style:solid;
padding:5px 5px 5px 5px;
margin:10px 0px 10px 0px;
}

#chapter9 h1{
color: #d12c47;
}

#chapter10{
border-style: solid;
margin:10px 0px 10px 0px;
}

ul.navi{
margin: 10px 10px 0px 10px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}

ul.navi li{
display:inline;
padding: 5px 10px 5px 10px;
}

nav ul{
    list-style-type:none;
    background-color: mistyrose;
}
nav ul li{
    display: inline;
}

table{
caption-side: bottom;
}