p.solidborder{
border-style:solid;
}
p.dottedborder{
border-style:dotted;
}
p.doubleborder{
border-style:double;
}
p.dashedborder{
border-style:dashed;
}
p.grooveborder{
border-style:groove;
}
p.insetborder{
border-style:inset;
}
p.outsetborder{
border-style:outset;
}
p.ridgeborder{
border-style:ridge;
}
p.radius{
border-radius:15px;
border-style:solid;
padding:5px;
}
p.topleftradius{
border-top-left-radius:15px;
border-style:solid;
padding:5px;
}